* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.hamIcon {
    display: none;
}
.container-1 {
    display: grid;
    grid-template-columns: 48% 50%;
    grid-template-rows: 100%;
    height: 15vh;
    background-color: black;

}
.item-1 {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-1:nth-of-type(1) {
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo {
    width: 52%;
}
.item-1:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-1 nav ul {
    display: flex;
    list-style: none;
    margin-top: 1rem;

}
.item-1 nav ul li {
    margin: 0 7% 0 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact a{
    border: 3px solid #FA255B;
    border-radius: 22px;
    padding: 10px 20px;
}
.contact:hover a {
    background-color: #FA255B;
    color: black;
    cursor: pointer;
}
.item-1 a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.list a:hover {
    color: #FA255B;
}

.button-principal {
    margin: 5%;
}

.button-principal a {
    border: 3px solid #FA255B;
    border-radius: 22px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.button-principal a:hover {
    background-color: #FA255B;
    color: black;
    cursor: pointer;        
}
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}
.container-3 {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 100%;
    justify-content: center;
}
.container-3 figure {
    display: flex;
    justify-content: center;
}
.container-3 img {
    width: 300px;
    height: 300px;

}
.container-3 h3 {
    display: flex;
    justify-content: center;
    font-size: 22px;
}
.container-3 p {
    padding: 30px;
    text-align: justify;
    font-size: 14px;
}
.container-4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}
.container-5 {
    display: grid;
    grid-template-columns: repeat(5, 10%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    margin-top: 50px;
}
.item-5 {
    height: 100px;
/*     border: 1px solid black; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-5 a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FA255B;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: .6em .6em .6em;
    width: 100%;
    outline: 0;
    transition: .2s;
    will-change: transform;
    font-size: 14px;
    box-shadow: inset 0 -.2em rgba(0, 0, 0, .1);
    height: 90px;
}
.item-5 a:active {
    transform: scale(.92);
}
.container-6 {
    display: grid;
    grid-template-columns: 20% 17%;
    grid-template-rows: 100%;
    justify-content: center;
    margin-top: 180px;
}
.item-6 {
    border-top: 1px solid gray;
    padding: 20px;
}
.container-6 img {
    width: 200px;
    height: 250px;
}

.item-7:nth-of-type(2) {
    display: flex;
    justify-content: center;
}
.container-7 {
    display: grid;
    grid-template-columns: 20% 17%;
    grid-template-rows: 100%;
    justify-content: center;
    margin-top: 50px;
}
.item-7 {
    border-top: 1px solid gray;
    padding: 20px;
}
.container-7 img {
    width: 200px;
    height: 250px;
}

.arrow-container {
    display: flex;
    justify-content: flex-end;
    transition: .2s;
    will-change: transform;
    margin: 25px;
}
.arrow-container:active {
    transform: scaleY(.5);

}
.arrow-container img {
    width: 50px;
    height: 50px;
}
.container-8 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}

.container-9 {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}
.item-9 {
    width: 35%;
}
.item-9 p {
    margin-bottom: 5px;
}
input {
    width: 100%;
    margin-bottom: 15px;
}
#message {
    height: 100px;
}
#btn-send {
    background: #FA255B;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: .6em .6em .6em;
    outline: 0;
    transition: .2s;
    will-change: transform;
    font-size: 14px;
    box-shadow: inset 0 -.2em rgba(0, 0, 0, .1);
}
#btn-send:active {
    transform: scale(.92);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 20px solid rgb(22, 22, 22);
    background-color: black;
    height: 90px;
}
footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FA255B;
    font-weight: 700;
}